######## Required ########
RUNNER_REPO_URL=https://github.com/jul-m/gha-runner-compose
RUNNER_TOKEN=<registration_token>

# Label required by the build-test-large-tiers CI job - do not change
RUNNER_LABELS=gha-runner-compose-large-images
